---
const { title } = Astro.props;
---

<header>
  <h1 class="heading__title">{title}</h1>
  <menu>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about">About</a></li>
  </menu>
</header>